body{
  background-color: rgb(66, 65, 65);
  color: white;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
}
#menu{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
#googleimage{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
#barrapesquisa{
  display: flex;
  justify-content: center;
  margin: 30px;
}
input{
 width: 500px;
 height: 35px;
 border-radius: 20px;
 background-color: rgba(255, 255, 255, 0.144);
 border: none;
 color: white;
 padding-left: 15px;
 padding-right: 15px;
}
input:focus{
  outline: none;
}
input:hover{
  background-color: rgb(100, 100, 100);
}
.link{
  margin-top: 5px;
  text-decoration: none;
  color: white;
}
.link:hover{
  text-decoration: underline;
}
#perfil{
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
#botoes{
  display: flex;
  justify-content: center;
  gap: 10px;
} 
.botao{
  height: 35px;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
  color: white;
  border: none;
  border: transparent, 1px;
}
.botao:hover{
  cursor: pointer;
  border: solid;
  border-width: 1px;
  border-color: rgb(158, 158, 158);
}